.__homepage{
    display:flex;
    flex-direction:column;
    width:100%
}

.__all_posts{
    flex:0.9;
    margin:auto;
    width:40vw;
    align-items: center;
    display: flex;
    flex-direction: column;
     min-width: 450px;
    top:"20%";
    background-color: rgb(234, 234, 234);
}