.__post{
   

    width:450px;
    background-color: rgb(234, 181, 255);
    padding: auto;
    border-radius: 20px;
    display: flex;
    margin-top: 15px;
    margin-bottom: 25px;
    flex-direction: column;
    padding-bottom: 20px;

}

.__postHeader{
    display:flex;
    flex:0.2;
    /* max-height: 100px; */
    height: 100px;
    align-items: center;
    padding:5px;
}

.__postHeaderPic{
    
    height: 45px;
    width:  45px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 0px;
    margin-bottom: 10px;
}
.__postHeaderAuthorName{
    flex:0.9;
    padding: 20px;
}

.__postPicture{
    max-height: 100%;
    flex:0.7;
    padding: 20px;
    margin-left: 4px;
    margin-right: 4px;
}

.__post_caption_div{
    margin-left: 15px;
}

.__like_icon:hover,
.__post_menu:hover{
    cursor: pointer;
}
